.social-login
    button.login--git
        span
            i.fab.fa-github
        |continue whit github 
    button.login--faceBook
        span
            i.fab.fa-facebook-square
        |continue whit face book     