extends layout/main
include mixin/videoBlock

block content
    .video
        each item in foundVideo
            +videoBlock({
                title:item.title,
                id:item.id,
                views:item.views,
                videoFile:item.fileUrl
            })

