extends layout/main
include mixin/videoBlock

block content
    .search_header
        h3 searching for: #{searchingBy}
    .sesrch_video
        if videos.length === 0
            h5 no videos found
        each item in videos
                +videoBlock({
                    title: item.title,
                    videofile: item.videofile,
                    id: item.id
                })    